<section class="auth-container">
  <h1 class="auth__title">{{ title }}</h1>

  <form class="auth__form" [formGroup]="authForm">
    @if (authService.isError()) {
    <p class="auth__error-text">Неверные данные пользователя!</p>
    }

    <label class="auth__field">
      <span class="auth__label">Email</span>
      <input
        formControlName="email"
        type="email"
        class="auth__input"
        placeholder="you@example.com"
      />
    </label>

    <label class="auth__field">
      <span class="auth__label">Пароль</span>
      <input
        formControlName="password"
        type="password"
        class="auth__input"
        placeholder="Введите пароль"
      />
    </label>
  </form>

  <div class="auth__actions">
    <button tuiButton appearance="secondary" size="s" type="button">
      Забыли пароль?
    </button>
    @if (authType === 'login') {
    <button
      tuiButton
      appearance="primary"
      size="m"
      type="button"
      (click)="login()"
      [disabled]="!authForm.valid"
    >
      Войти
    </button>
    } @else {
    <button
      tuiButton
      appearance="primary"
      size="m"
      type="button"
      (click)="register()"
      [disabled]="!authForm.valid"
    >
      Зарегистрироваться
    </button>
    }
  </div>
</section>
