<div class="test-title-wrapper">
  <input
    class="test-title"
    type="text"
    [(ngModel)]="test.name"
    [disabled]="testType === 'passing' || testType === 'watch'"
    [ngClass]="{
      'disabled-input-text': testType === 'passing' || testType === 'watch',
    }"
    placeholder="Название теста"
  />
</div>

<div class="test-container">
  <div class="test-container__questions-list">
    @for (
      question of test.questions;
      track question.id;
      let questionIndex = $index
    ) {
      <app-question
        [question]="question"
        [questionIndex]="questionIndex"
        [testType]="testType"
        (removeQuestion)="removeQuestion(question.id)"
      />
    }
    @if (testType !== 'passing' && testType !== 'watch') {
      <button
        tuiButton
        size="s"
        appearance="primary"
        class="add-card-btn"
        (click)="addNewQuestion()"
      >
        Добавить вопрос
      </button>
    }
  </div>

  <div class="test-container__actions">
    @if (testType === 'passing') {
      <a tuiButton appearance="secondary" routerLink="">Выйти</a>
      <button tuiButton appearance="primary" (click)="completeTest()">
        Завершить
      </button>
    } @else if (testType === 'watch') {
      <a tuiButton appearance="secondary" routerLink="/passed-tests">Выйти</a>
    } @else {
      <a tuiButton appearance="secondary" routerLink="">Отменить</a>
      <button tuiButton appearance="primary" (click)="saveTest()">
        Сохранить
      </button>
    }
  </div>
</div>
