<div class="answer">
  @if (testType === 'passing' || testType === 'watch') {
    @if (question.type === 'multiple') {
      <input
        [(ngModel)]="answer.checked"
        (change)="saveAnswer()"
        class="answer__checkbox"
        type="checkbox"
        [disabled]="testType === 'watch'"
        tuiCheckbox
      />
    } @else {
      <label tuiLabel>
        <input
          [(ngModel)]="question.group_answer"
          [value]="answer.id"
          (change)="saveAnswer()"
          class="answer__checkbox"
          type="radio"
          [attr.name]="question.id"
          [disabled]="testType === 'watch'"
          tuiRadio
        />
      </label>
    }
  }

  <input
    [(ngModel)]="answer.value"
    class="answer__input"
    type="text"
    placeholder="Вариант ответа"
    [disabled]="testType === 'passing' || testType === 'watch'"
    [ngClass]="{
      'disabled-input-text': testType === 'passing' || testType === 'watch',
      'right-answer': testType === 'watch' && answer.correct,
      'wrong-answer': testType === 'watch' && !answer.correct,
    }"
  />

  @if (testType !== 'passing' && testType !== 'watch') {
    <label appearance="outline-grayscale" tuiChip>
      <input tuiCheckbox type="checkbox" [(ngModel)]="answer.correct" />
      <span>Правильный</span>
    </label>

    <button
      tuiButton
      size="s"
      appearance="primary"
      type="button"
      (click)="onRemoveAnswer()"
    >
      Удалить
    </button>
  }
</div>
