<div class="answer">
  @if (testType === 'passing' || testType === 'watch') {
    @if (question.type === 'multiple') {
      <input
        [(ngModel)]="answer.checked"
        (change)="saveAnswer()"
        class="answer__checkbox"
        type="checkbox"
        [disabled]="testType === 'watch'"
      />
    } @else {
      <input
        [(ngModel)]="question.group_answer"
        [value]="answer.id"
        (change)="saveAnswer()"
        class="answer__checkbox"
        type="radio"
        [attr.name]="question.id"
        [disabled]="testType === 'watch'"
      />
    }
  }

  <input
    [(ngModel)]="answer.value"
    class="answer__input"
    type="text"
    placeholder="Вариант ответа"
    [disabled]="testType === 'passing' || testType === 'watch'"
    [ngClass]="{
      'disabled-input-text': testType === 'passing' || testType === 'watch',
      'right-answer': testType === 'watch' && answer.correct,
      'wrong-answer': testType === 'watch' && !answer.correct,
    }"
  />

  @if (testType !== 'passing' && testType !== 'watch') {
    <button
      tuiButton
      size="s"
      appearance="secondary"
      type="button"
      (click)="answer.correct = !answer.correct"
    >
      Правильный: {{ answer.correct }}
    </button>

    <button
      tuiButton
      size="s"
      appearance="primary"
      type="button"
      (click)="onRemoveAnswer()"
    >
      Удалить
    </button>
  }
</div>
