<div class="tests-header">
  @if (testsType === 'passed-tests') {
  <h2>Пройденные тесты</h2>
  } @else {
  <h2>Мои тесты</h2>
  <a
    tuiButton
    appearance="primary"
    [routerLink]="['test']"
    [queryParams]="{ type: 'create' }"
  >
    Создать
  </a>
  }
</div>

<table class="tests-table">
  <thead>
    <tr>
      <th>Название</th>
      @if (testsType !== 'passed-tests') {
      <th>Дата создания</th>
      <th>Кол-во участников</th>
      } @else {
      <th>Дата прохождения</th>
      <th>Результат</th>
      }
      <th>Действия</th>
    </tr>
  </thead>
  <tbody>
    @for ( test of testsType === 'passed-tests' ? getTests('completed') :
    getTests(); track test.id ) {
    <tr>
      <td>{{ test.name }}</td>
      @if (testsType !== 'passed-tests') {
      <td>{{ test.created_at | date : 'dd.MM.yyyy' }}</td>
      <td>{{ test.participants_count }}</td>
      } @else {
      <td>{{ test.passed_at | date : 'dd.MM.yyyy' }}</td>
      <td>{{ test.result }}</td>
      }
      <td class="tests-table__actions">
        @if (testsType === 'passed-tests') {
        <button
          tuiButton
          size="s"
          appearance="primary"
          (click)="watchTest(test)"
        >
          Открыть
        </button>
        } @else {
        <button
          tuiButton
          size="s"
          appearance="secondary"
          (click)="openTest(test)"
        >
          Открыть
        </button>
        <button
          tuiButton
          size="s"
          appearance="secondary"
          (click)="editTest(test)"
        >
          Редактировать
        </button>
        <button
          tuiButton
          size="s"
          appearance="primary"
          (click)="deleteTest(test)"
        >
          Удалить
        </button>
        }
      </td>
    </tr>
    }
  </tbody>
</table>
