<header class="navbar">
  <div class="nav-container">
    <div class="nav-logo">Tests Constructor</div>
    <span class="toolbar-spacer"></span>

    @if (authService.isLoggedIn()) {
    <nav class="nav-list nav-right">
      <a
        tuiButton
        size="s"
        appearance="secondary"
        routerLink=""
        routerLinkActive="active"
      >
        Мои тесты
      </a>
      <a
        tuiButton
        size="s"
        appearance="secondary"
        routerLink="/passed-tests"
        routerLinkActive="active"
      >
        Завершенные
      </a>
      <a
        tuiButton
        size="s"
        appearance="secondary"
        routerLink="/profile"
        routerLinkActive="active"
      >
        Профиль
      </a>
      <button
        tuiButton
        size="s"
        appearance="primary"
        type="button"
        (click)="logout()"
      >
        Выйти
      </button>
    </nav>
    } @else {
    <nav class="nav-list nav-right">
      <a
        tuiButton
        size="s"
        appearance="secondary"
        routerLink="/register"
        routerLinkActive="active"
      >
        Регистрация
      </a>
      <a
        tuiButton
        size="s"
        appearance="primary"
        routerLink="/login"
        routerLinkActive="active"
      >
        Войти
      </a>
    </nav>
    }
  </div>
</header>
