<article class="question-card">
  <header class="card__header">
    <div class="card__title">
      <div class="question__input-number">{{ questionIndex + 1 }}.</div>
      <input
        class="question__input"
        type="text"
        [(ngModel)]="question.description"
        placeholder="Описание вопроса"
        [disabled]="testType === 'passing' || testType === 'watch'"
        [ngClass]="{
          'disabled-input-text': testType === 'passing' || testType === 'watch',
        }"
      />
    </div>

    @if (testType !== 'passing' && testType !== 'watch') {
      <button
        tuiButton
        size="s"
        appearance="flat"
        (click)="changeQuestionType()"
      >
        @if (question.type === 'single') {
          Один вариант ответа
        } @else if (question.type === 'multiple') {
          Несколько вариантов
        }
      </button>
    }
  </header>

  <section class="card__content">
    <div class="questions">
      @for (answer of question.answers; track answer.id) {
        <app-answer
          [testType]="testType"
          [answer]="answer"
          [question]="question"
          (removeAnswer)="removeAnswer(answer.id)"
        />
      }
    </div>

    @if (testType !== 'passing' && testType !== 'watch') {
      <div class="card-actions">
        <button
          tuiButton
          size="s"
          appearance="secondary"
          class="task__add-option-btn"
          (click)="addNewAnswer()"
        >
          + добавить
        </button>
        <button
          tuiButton
          size="s"
          appearance="primary"
          class="error-button"
          (click)="onRemoveQuestion()"
        >
          Удалить карточку
        </button>
      </div>
    }
  </section>
</article>
